* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#corpoAdm-06 {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
    background-size: 100% 100%;
}

.fixed-06 {
    display: flex;
    background: #1F2323;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

#menu_header_lateral_esquerda_adm-06 {
    display: flex;
    align-items: center;
}

#icon_menu_header_adm-06 {
    color: #fff;
    font-size: 23px;
    margin-left: 19.8px;
    margin-right: 65px;
}

#campo_busca_header_adm-06 {
    width: 352px;
    height: 32px;
    padding: 4px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, .08);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#campo_busca_header_adm-06 input {
    background: #fff;
    width: 308px;
    height: 32px;
    padding: 1px;
    background: transparent;
    border: none;
}

#icon_campo_busca_header_adm-06 {
    color: #fff;
    margin-right: 10px;
}

#menu_header_lateral_direita_adm-06 {
    display: flex;
    align-items: center;
    color: #fff;
}

#img_menu_header_adm-06 {
    width: 30px;
    height: 30px;
    background: #1DF8CC;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 17px;
}

#conteudo_adm-06 {
    display: flex;
}

#menu_lateral_esquerda_adm-06 {
    background: rgba(0, 0, 0, 0.42);
    width: 60px;
    height: 100%;
    position: fixed;
    top: 60px;
    justify-content: center;
}

.icon_menu_lateral_adm-06 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 18px;
}

.icon_menu_lateral_adm-06 img {
    width: 28px;
    height: 28px;
}

.identificador_menu_lateral_adm-06 {
    background: rgba(173, 173, 173, 0.164);
}

.identificador_menu_lateral_cor_adm-06 {
    background: #FABE02;
    width: 5px;
    height: 50px;
    position: absolute;
}

#cabecalho_corpo_adm-06 {
    background: rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 50px;
    margin-top: 60px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(../img/Sem\ título.png);
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.105);
}

#cabecalho_corpo_adm-06 p {
    margin-left: 48px;
    color: #fff;
}

#corpo_conteudo_adm-06 {
    width: 96.8vw;
    height: 100%;
    margin-left: 60.5px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

#limitacao_espaco_corpo_conteudo_adm-06 {
    width: 91vw;
    height: 100%;
}

#tabela_usuarios_adm-06 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.tableLine-06,
.tableHead-06 {
    text-align: left;
    padding: 8px;
    color: #fff;
}

.tableAdm-06:nth-child(even) {
    background-color: #ffffff41;
}

th.tableHead-06 {
    text-transform: uppercase;
    padding: 12px 8px 12px 8px;
}

.tableLine-06 {
    background-color: #0000004d;
}

#botao_delete-06 {
    width: 200px;
}

#imagem_perfil_usuario-06 {
    width: 45px;
    border-radius: 30px;
}

#td_imagem_adm-06 {
    width: 55px;
    height: 60px;
}

#td_imagem_adm-06 img {
    margin-left: 40px;
}

#nome_usuario-06 {
    width: 250px;
}

.links-06 {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.fa-bars:before {
    font-size: 23px;
}