* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#corpoUser-10 {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
    background-size: 100% 100%;
}
/* 
.fixed-10 {
    display: flex;
    background: #1F2323;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

#menu_header_lateral_esquerda_adm-10 {
    display: flex;
    align-items: center;
}

#icon_menu_header_adm-10 {
    color: #fff;
    font-size: 23px;
    margin-left: 19.8px;
    margin-right: 65px;
}

#menu_header_lateral_direita_adm-10 {
    display: flex;
    align-items: center;
    color: #fff;
}

#img_menu_header_adm-10 {
    width: 30px;
    height: 30px;
    background: #1DF8CC;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 17px;
} */

#conteudo_adm-10 {
    display: flex;
}

#menu_lateral_esquerda_adm-10 {
    background: rgba(0, 0, 0, 0.42);
    width: 60px;
    height: 100%;
    position: fixed;
    top: 60px;
    justify-content: center;
}

.icon_menu_lateral_adm-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 18px;
}

.icon_menu_lateral_adm-10 img {
    width: 28px;
    height: 28px;
}

.identificador_menu_lateral_adm-10 {
    background: rgba(173, 173, 173, 0.164);
}

.identificador_menu_lateral_cor_adm-10 {
    background: #FABE02;
    width: 5px;
    height: 50px;
    position: absolute;
}

#cabecalho_corpo_adm-10 {
    background: rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 50px;
    margin-top: 60px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(../img/Sem\ título.png);
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.105);
}

#cabecalho_corpo_adm-10 p {
    margin-left: 48px;
    color: #fff;
}

#corpo_conteudo_adm-10 {
    width: 96.8vw;
    margin-left: 60.5px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

#limitacao_espaco_corpo_conteudo_adm-10 {
    width: 91vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botaoEnviarEquipamento-10 {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.151);
}

.botaoEnviarEquipamento-10 img {
    width: 20px;
}

#tituloListaAddClassificadoEquipamento-10 h1 {
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
}

#tabela_usuarios_adm-10 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: none;
}

#sombra_tabela_adm-10 {
    background: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    padding: 0px 60px 60px 60px;
    border-radius: 10px;
}

.tableHead-10 {
    text-align: left;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 75px;
}

.tableLine-10 {
    text-align: left;
    padding: 25px 20px 25px 20px;
    color: #fff;
    background-color: #0000004d;
    width: 100px;
    padding-left: 75px;
}

.tableBody-10:nth-child(even) {
    background-color: #ffffff41;
}

.link-10 {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.teste-10 {
    display: flex;
    justify-content: flex-end;
}

.botaoEnviarEquipamento-10 {
    margin-right: 8px;
}

.fa-bars:before {
    font-size: 23px;
}